*{
    box-sizing: border-box;
}
:root{
   --color-primary:#F5F4FA;/*наша команда*//*кнопки портфолыо*/
   --color-brand:#2F303A;/*низ-рішення*/
   --color-site:#212121;/*головне інфо*/
   --color-info:#757575;/*інфо*/
   --color-white:#ffffff;
   --color-hover:#2196F3;
}


body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    }
li{
    list-style: none;
}
/*Логотип*/
.logo-web{
    color: var(--color-hover);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo-studio{
    color: var(--color-site);   
    /*font-family: 'Oleo Script';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.6;*/
}
.navigation{
    color: var(--color-site);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}
.link {
    text-decoration: none;
    color: var(--color-site);
}

.link:hover {
    color: var(--color-hover);
}
/*Ефективні рішення для вашого бізнесу*/
.main-section{
    background-color:var(--color-brand)
}
.hero-title{
    color:var(--color-white);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height:1.3;
    
}
.hero-button{
    color: var(--color-white);
    background-color: var(--color-hover);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    cursor: pointer;
    border: 2px,var(--color-hover);
}
.hero-priorities{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.1;  
    
}
.text-priorities{
    color: var(--color-info);
    line-height: 1.7;
}
/*Чим ми займаємося*/
.wotk{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}
/*Наша команда*/
.team{
    background-color: var(--color-primary)
}
.team-lead{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
}
.team-employee{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
}
.team-position{
    color: var(--color-info);
    font-size: 16px;
    line-height: 1.1px;
}
/*Футер*/

.footer{
    background-color: var(--color-brand);
}
.logo-studio-footer{
    color:var(--color-white) ;
}
.link-footer-adress{
    color: var(--color-white);
    line-height: 1.7;
}
.link-footer-adress:hover{
    color:var(--color-hover);
}
.link-footer{
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
}
.link-footer:hover{
    color: var(--color-hover)    
}
/*Портфоліо кнопки*/
.button-portfolio{
    background-color:var(--color-primary);
    color :var(--color-site);
    border: 2px,var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
.button-portfolio:hover{
    background-color:var(--color-hover);
    color: var(--color-white);
} 
.project-portfolio{
    color: var(--color-site);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.text-project{
    color: var(--color-info);
    font-size: 16px;
    line-height: 1.8;
}